body {
  background-color: lightgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

li a {
  color: rgb(148, 106, 113);
}

h2,
h3,
h4 {
  color: rgb(148, 106, 113);
}

.main-container {
  width: 900px;
  margin: 0 auto;
  background-color: lightpink;
  padding: 20px;
}

.main-container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}
